In [ ]:
import pandas as pd

titanic = pd.read_csv('titanic.csv')

**문제 1: 데이터 선택과 열 추가**

다음 작업을 수행하는 코드를 작성하세요.

1. 나이가 30세 이상인 승객만 선택하여 'Name', 'Age', 'Pclass' 열을 출력하세요. (첫 5명만)

조건을 활용한 데이터 필터링과 다중 열 선택을 다시 한번 연습합니다.

```python
# 여기 코드를 입력하세요.
age_30_over = titanic[titanic['Age'] >= 30]
print(age_30_over[['Name', 'Age', 'Pclass']].head(5))
```

실행 결과:
```
                                                 Name   Age  Pclass
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0       1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0       1
4                            Allen, Mr. William Henry  35.0       3
6                             McCarthy, Mr. Timothy J  54.0       1
11                           Bonnell, Miss. Elizabeth  58.0       1
```

2. 1등급 또는 2등급 승객만 선택하여 총 몇 명인지 출력하세요.

복합 조건 문제를 다시 연습합니다.

```python
# 여기 코드를 입력하세요.
first_second_class = titanic[(titanic['Pclass'] == 1) | (titanic['Pclass'] == 2)]
print(f"1등급 또는 2등급 승객 수: {len(first_second_class)}명")
```

실행 결과:
```
1등급 또는 2등급 승객 수: 400명
```

3. Fare를 달러로 가정하고 원화 환산 열(fare_won)을 추가하세요. (1달러 = 1300원, 첫 5행 출력)

파생 변수를 만드는 연습을 합니다. 파이썬 딕셔너리 다루듯 새로운 키를 지정하고 값을 입력하면 한번에 모든 행에 값을 대입할 수 있습니다.

```python
# 여기 코드를 입력하세요.
titanic['fare_won'] = titanic['Fare'] * 1300
print(titanic[['Name', 'Fare', 'fare_won']].head(5))
```

실행 결과:
```
                                                Name     Fare  fare_won
0                            Braund, Mr. Owen Harris   7.2500   9425.00
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  71.2833  92668.29
2                             Heikkinen, Miss. Laina   7.9250  10302.50
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  53.1000  69030.00
4                           Allen, Mr. William Henry   8.0500  10465.00
```

**문제 2: 데이터 삭제와 정렬**

다음 작업을 수행하는 코드를 작성하세요.

1. 'Ticket', 'Cabin' 열을 삭제한 DataFrame을 생성하고 열 목록을 출력하세요.

`drop()`은 기본적으로 행을 삭제하기 때문에 `axis=1`을 지정하거나 `columns` 파라미터를 지정합니다.

```python
# 여기 코드를 입력하세요.
titanic_dropped = titanic.drop(columns=['Ticket', 'Cabin'])
print("삭제 후 열 목록:", titanic_dropped.columns.tolist())
```

실행 결과:
```
삭제 후 열 목록: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked', 'fare_won']
```

2. 나이 정보가 없는 승객('Age'가 결측값)을 제거하고, 제거 전후의 데이터 크기를 출력하세요.

결측값을 표시해주는 `notna()` 또는 `notnull()`을 'Age'열에 적용하여 필터링하면 됩니다.

```python
# 여기 코드를 입력하세요.
print(f"원본 크기: {len(titanic)}명")
titanic_no_missing = titanic[titanic['Age'].notna()]
print(f"나이 결측값 제거 후: {len(titanic_no_missing)}명")
```

실행 결과:
```
원본 크기: 891명
나이 결측값 제거 후: 714명
```

3. 요금(Fare) 기준 내림차순으로 정렬하여 상위 5명의 'Name', 'Fare', 'Pclass'를 출력하세요.

`sort_values()`사용을 연습합니다. 기준이 되는 열과 정렬 방식을 `ascending`에 지정하면 됩니다.

```python
# 여기 코드를 입력하세요.
fare_sorted = titanic.sort_values('Fare', ascending=False)
print(fare_sorted[['Name', 'Fare', 'Pclass']].head(5))
```

실행 결과:
```
                                   Name      Fare  Pclass
679  Cardeza, Mr. Thomas Drake Martinez  512.3292       1
258                    Ward, Miss. Anna  512.3292       1
737              Lesurer, Mr. Gustave J  512.3292       1
88           Fortune, Miss. Mabel Helen  263.0000       1
438                   Fortune, Mr. Mark  263.0000       1
```

4. Pclass 오름차순, Fare 내림차순으로 정렬하여 첫 10명을 출력하세요.

```python
# 여기 코드를 입력하세요.
multi_sorted = titanic.sort_values(['Pclass', 'Fare'], ascending=[True, False])
print(multi_sorted[['Name', 'Pclass', 'Fare']].head(10))
```

실행 결과:
```
                                      Name  Pclass      Fare
258                       Ward, Miss. Anna       1  512.3292
679     Cardeza, Mr. Thomas Drake Martinez       1  512.3292
737                 Lesurer, Mr. Gustave J       1  512.3292
27          Fortune, Mr. Charles Alexander       1  263.0000
88              Fortune, Miss. Mabel Helen       1  263.0000
341         Fortune, Miss. Alice Elizabeth       1  263.0000
438                      Fortune, Mr. Mark       1  263.0000
311             Ryerson, Miss. Emily Borie       1  262.3750
742  Ryerson, Miss. Susan Parker "Suzette"       1  262.3750
118               Baxter, Mr. Quigg Edmond       1  247.5208
```

**문제 3: 복합 조건과 데이터 조작**

다음 작업을 수행하는 코드를 작성하세요.

1. 'is_family'라는 새 열을 추가하세요: SibSp + Parch가 0보다 크면 True, 아니면 False로 설정하고 첫 5행을 출력하세요.

기존 두 열을 더하고 그 결과가 0보다 큰지 우선 비교 합니다. 비교의 결과는 True, False로 나오기 때문에 이 결과를 새로운 컬럼 이름에 대입하면 됩니다.

```python
# 여기 코드를 입력하세요.
titanic['is_family'] = (titanic['SibSp'] + titanic['Parch']) > 0
print(titanic[['Name', 'SibSp', 'Parch', 'is_family']].head(5))
```

실행 결과:
```
                                                Name  SibSp  Parch  is_family
0                            Braund, Mr. Owen Harris      1      0       True
1  Cumings, Mrs. John Bradley (Florence Briggs Th...      1      0       True
2                             Heikkinen, Miss. Laina      0      0      False
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)      1      0       True
4                           Allen, Mr. William Henry      0      0      False
```

2. 여성(Sex == 'female')이면서 1등급(Pclass == 1)인 승객의 평균 요금을 계산하세요.

평균 요금을 계산하기위해 우선 조건으로 데이터를 필터링합니다. 이 후 요금 열을 선택하여 `sum()`으로 모두 더하고 필터링된 데이터의 개수로 나눠 평균을 구합니다.

```python
# 여기 코드를 입력하세요.
first_female = titanic[(titanic['Sex'] == 'female') & (titanic['Pclass'] == 1)]
avg_fare = first_female['Fare'].sum() / len(first_female)
print(f"1등급 여성 승객 평균 요금: {avg_fare:.2f}")
```

실행 결과:
```
1등급 여성 승객 평균 요금: 106.13
```

3. 3등급 승객 중 생존자를 선택하고, 나이 기준 오름차순으로 정렬하여 'Name', 'Age', 'Survived' 열의 첫 5명을 출력하세요.

```python
# 여기 코드를 입력하세요.
third_survivors = titanic[(titanic['Pclass'] == 3) & (titanic['Survived'] == 1)]
third_sorted = third_survivors.sort_values('Age')
print(third_sorted[['Name', 'Age', 'Survived']].head(5))
```

실행 결과:
```
                                Name   Age  Survived
803  Thomas, Master. Assad Alexander  0.42         1
469    Baclini, Miss. Helene Barbara  0.75         1
644           Baclini, Miss. Eugenie  0.75         1
172     Johnson, Miss. Eleanor Ileen  1.00         1
788       Dean, Master. Bertram Vere  1.00         1
```

**문제 4: 데이터 분석**

앞 문제 3-3에서 평균을 구할 때 `합 / 개수` 방식을 사용했는데, Pandas의 `DataFrame['열이름'].mean()` 함수를 사용하면 더 간단하게 평균을 계산할 수 있습니다. 이 문제부터는 `.mean()` 함수를 활용하세요.

다음 분석을 수행하세요.

1. 나이가 18세 미만인 어린이의 생존율과 18세 이상 남성 성인의 생존율을 계산하여 비교하세요.

복잡한 조건의 문제가 주어지면 모든 작업을 한줄의 코드로 작성할 수 없습니다. 이런 경우 필요한 변수를 얼마든지 만들어도 상관없기 때문에 답안처럼 작성하기를 권장합니다.

```python
# 여기 코드를 입력하세요.
children = titanic[titanic['Age'] < 18]
child_survival = children['Survived'].mean()
adult_male = titanic[(titanic['Age'] >= 18) & (titanic['Sex'] == 'male')]
adult_male_survival = adult_male['Survived'].mean()
print(f"어린이 생존율: {child_survival:.2%}")
print(f"성인 남성 생존율: {adult_male_survival:.2%}")
```

실행 결과:
```
어린이 생존율: 53.98%
성인 남성 생존율: 17.72%
```

2. 요금이 30 이상인 승객과 30 미만인 승객의 생존율을 각각 계산하세요.
```python
# 여기 코드를 입력하세요.
high_fare = titanic[titanic['Fare'] >= 30]
low_fare = titanic[titanic['Fare'] < 30]
print(f"요금 30 이상 생존율: {high_fare['Survived'].mean():.2%}")
print(f"요금 30 미만 생존율: {low_fare['Survived'].mean():.2%}")
```

실행 결과:
```
요금 30 이상 생존율: 58.75%
요금 30 미만 생존율: 30.88%
```

**문제 5: 메서드 체이닝 종합**

메서드 체이닝은 여러 작업을 연속적으로 연결하여 한 번에 수행하는 방식입니다. 앞서 배운 것처럼 Pandas의 대부분 메서드는 새로운 DataFrame을 반환하므로, 이를 이용해 여러 메서드를 `.`으로 연결할 수 있습니다.

간단한 예시를 먼저 살펴보겠습니다:

```python
# 메서드 체이닝 예시: 여성 승객을 선택하고 나이순으로 정렬하여 상위 3명 출력
# 읽기 쉽게 여러 줄로 작성
print(
    titanic[titanic['Sex'] == 'female']
    .sort_values('Age')
    [['Name', 'Age']]
    .head(3)
)
```

실행 결과:
```
                              Name   Age
644         Baclini, Miss. Eugenie  0.75
469  Baclini, Miss. Helene Barbara  0.75
172   Johnson, Miss. Eleanor Ileen  1.00
```

`titanic[titanic['Sex'] == 'female']`여기까지 실행 결과가 DataFrame을 반환하면 연이어 `.sort_values('Age')`를 실행하여 다시 반환된 DataFrame에 `[['Name', 'Age']].head(3)` 적용합니다.

이제 메서드 체이닝을 활용하여 다음 작업을 수행하세요.

1. titanic 데이터에서 'Ticket', 'Cabin' 열을 삭제하고, 나이 정보가 있는 승객만 선택한 후, 나이 기준 오름차순으로 정렬하여 상위 5명의 'Name', 'Age', 'Pclass' 열만 출력하세요.

단계별 설명은 코드의 주석을 참고하세요.

```python
# 여기 코드를 입력하세요.
print(
    # 문제에서 요구한 두 열을 제거
    titanic.drop(columns=['Ticket', 'Cabin'])
    # 이어서 나이정보가 있는 데이터만 필터링
    [titanic['Age'].notna()]
    # 필터링 된 데이터를 정렬
    .sort_values('Age')
    # 다중 컬럼 선택
    [['Name', 'Age', 'Pclass']]
    # 첫 다섯명 선택
    .head(5)
)
```

실행 결과:
```
                                Name   Age  Pclass
803  Thomas, Master. Assad Alexander  0.42       3
755        Hamalainen, Master. Viljo  0.67       2
644           Baclini, Miss. Eugenie  0.75       3
469    Baclini, Miss. Helene Barbara  0.75       3
78     Caldwell, Master. Alden Gates  0.83       2
```

2. 생존한 여성 승객만 선택하고, 요금 기준 내림차순으로 정렬하여 상위 3명의 'Name', 'Fare', 'Pclass'를 출력하세요.

복합 조건을 사용이 추가된 것만 제외하고는 1번 문제와 동일합니다.

```python
# 여기 코드를 입력하세요.
print(
    titanic[(titanic['Survived'] == 1) & (titanic['Sex'] == 'female')]
    .sort_values('Fare', ascending=False)
    [['Name', 'Fare', 'Pclass']]
    .head(3)
)
```

실행 결과:
```
                               Name      Fare  Pclass
258                Ward, Miss. Anna  512.3292       1
341  Fortune, Miss. Alice Elizabeth  263.0000       1
88       Fortune, Miss. Mabel Helen  263.0000       1
```

**문제 6: 그룹화 종합**

다음 작업을 그룹화를 이용하여 수행하세요.

1. 승선 항구(Embarked)별로 평균 요금과 승객 수를 구하세요.

`groupby()`를 사용한 결과는 데이터프레임의 모임이라는 것을 기억하세요. 이후 대괄호를 사용해서 단일 데이터프레임처럼 열을 선택할 수 있습니다. 대상 데이터프레임이 여러 개이기 때문에 열도 여러개가 선택될 것입니다. 여기서 각종 집계 함수를 실행하면 그룹별 통계값이 구해집니다.

```python
# 여기 코드를 입력하세요.
embarked_fare = titanic.groupby('Embarked')['Fare'].mean()
embarked_count = titanic.groupby('Embarked').size()
print("\n승선 항구별 평균 요금:")
print(embarked_fare)
print("\n승선 항구별 승객 수:")
print(embarked_count)
```

실행 결과:
```
승선 항구별 평균 요금:
Embarked
C    59.954144
Q    13.276030
S    27.079812
Name: Fare, dtype: float64

승선 항구별 승객 수:
Embarked
C    168
Q     77
S    644
dtype: int64
```

2. 성별과 등급을 함께 그룹화하여 각 조합별 평균 나이를 구하세요. (예: 1등급 남성, 1등급 여성, 2등급 남성...)

여러 조건으로 그룹화 하는 경우 단순히 그룹화할 변수 이름을 대괄호로 묶어주면 됩니다. 이후 집계 함수가 적용되는 과정은 단일 조건 그룹과 완전히 동일합니다.

```python
# 여기 코드를 입력하세요.
age_by_sex_class = titanic.groupby(['Pclass', 'Sex'])['Age'].mean()
print("\n성별과 등급 조합별 평균 나이:")
print(age_by_sex_class)
```

실행 결과:
```
성별과 등급 조합별 평균 나이:
Pclass  Sex   
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64
```

3. 각 등급별 요금의 표준편차를 구하고, 어느 등급의 요금이 가장 편차가 큰지 확인하세요.

표준 편차를 구하는 함수는 `std()`입니다. 2.1.5 데이터 조작 > 그룹화 > 다양한 집계 함수에서 기억할 필요가 있는 집계 함수의 목록을 다시 확인하세요.

```python
# 여기 코드를 입력하세요.
fare_std_by_class = titanic.groupby('Pclass')['Fare'].std()
print("\n등급별 요금 표준편차:")
print(fare_std_by_class)
```

실행 결과:
```
등급별 요금 표준편차:
Pclass
1    78.380373
2    13.417399
3    11.778142
Name: Fare, dtype: float64
```