#### 문제 1
데이터 전처리와 분석에 필요한 pandas, matplotlib, seaborn 라이브러리를 임포트하세요.

```python
#여기 코드를 입력하세요.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
```

이어서 sklearn 라이브러리에서 제공하는 타이타닉 데이터셋을 불러옵니다. 다음 코드를 실행하세요.

```python
from sklearn.datasets import fetch_openml
titanic = fetch_openml("titanic", version=1,
                        as_frame=True, parser='auto').frame
```

#### 문제 2
titanic 데이터셋의 크기(행 수, 열 수)를 확인하세요.

```python
#여기 코드를 입력하세요.
print(titanic.shape)
```

실행 결과:
```
(1309, 14)
```

이 데이터셋은 1309개의 행(관측값)과 14개의 열(변수)로 구성되어 있습니다.

#### 문제 3
본문에서 다룬 데이터와 약간 다른 것을 알 수 있습니다. 전처리 연습을 위해 의도적으로 변수가 조금 다른 데이터셋을 사용한 것입니다. 어떤 컬럼이 있는지 컬럼명을 출력하세요.

```python
#여기 코드를 입력하세요.
print(titanic.columns)
```

실행 결과:
```
Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')
```

#### 문제 4
각 컬럼의 데이터 타입을 확인하세요.

```python
#여기 코드를 입력하세요.
titanic.info()
```

실행 결과:
```
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype   
---  ------     --------------  -----   
 0   pclass     1309 non-null   int64   
 1   survived   1309 non-null   category
 2   name       1309 non-null   object  
 3   sex        1309 non-null   category
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64   
 6   parch      1309 non-null   int64   
 7   ticket     1309 non-null   object  
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object  
 10  embarked   1307 non-null   category
 11  boat       486 non-null    object  
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object  
dtypes: category(3), float64(3), int64(3), object(5)
memory usage: 116.8+ KB
```

또는 `titanic.dtypes`도 가능합니다.

#### 문제 5
`survived` 변수를 `int`형으로, `sex`와 `embarked` 변수는 `object`형으로 타입 변환하세요.

```python
#여기 코드를 입력하세요.
titanic['survived'] = titanic['survived'].astype(int)
titanic[['sex', 'embarked']] = titanic[['sex', 'embarked']].astype('object')
print(titanic.dtypes)
```

실행 결과:
```
pclass         int64
survived       int64
name          object
sex           object
age          float64
sibsp          int64
parch          int64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object
```

변수의 타입을 바꾼 후 이번에는 `dtypes`를 사용해서 변경된 변수 타입을 확인했습니다.

#### 문제 6
`boat`, `body`, `home.dest` 변수는 우리가 다뤘던 데이터셋에는 없는 변수이므로 해당 변수를 삭제하세요. 추가로 `name`, `ticket` 변수도 함께 삭제하세요. 변수가 삭제된 데이터를 `titanic_1`에 대입하세요.

```python
#여기 코드를 입력하세요.
titanic_1 = titanic.drop(['name', 'boat', 'body', 'home.dest', 'ticket'], axis=1)
print(titanic_1.head())
```

실행 결과:
```
   pclass  survived     sex      age  sibsp  parch      fare    cabin embarked
0       1         1  female  29.0000      0      0  211.3375       B5        S
1       1         1    male   0.9167      1      2  151.5500  C22 C26        S
2       1         0  female   2.0000      1      2  151.5500  C22 C26        S
3       1         0    male  30.0000      1      2  151.5500  C22 C26        S
4       1         0  female  25.0000      1      2  151.5500  C22 C26        S
```

`drop()`으로 변수를 삭제할 때 `axis=1`을 지정하는 것을 잊지 마세요.

#### 문제 7
각 변수의 결측치 개수를 확인하세요.

```python
#여기 코드를 입력하세요.
print(titanic_1.isnull().sum())
```

실행 결과:
```
pclass         0
survived       0
sex            0
age          263
sibsp          0
parch          0
fare           1
cabin       1014
embarked       2
dtype: int64
```
`titanic_1.isnull()`로 데이터프레임의 모든 위치에서 결측치면 `True`, 아니면 `False`를 얻은 후 `sum()`을 사용해 `axis=0` 방향으로 모두 더하면 변수별 결측치를 구할 수 있습니다.

#### 문제 8
변수별 결측치 비율을 계산하세요.

```python
#여기 코드를 입력하세요.
print(titanic_1.isnull().sum() / len(titanic_1) * 100)
```

실행 결과:
```
pclass       0.000000
survived     0.000000
sex          0.000000
age         20.091673
sibsp        0.000000
parch        0.000000
fare         0.076394
cabin       77.463713
embarked     0.152788
dtype: float64
```

문제 7에서 구한 결측치 시리즈를 `len(titanic_1)`으로 나눕니다. 연산은 모든 결측치 개수에 `len(titanic_1)`가 한번씩 나눗셈되면서 모든 변수의 결측치 비율이 계산됩니다.

#### 문제 9
계산한 변수별 결측치 비율을 막대그래프로 시각화하세요. y축 제목은 `결측치 비율 (%)`로 그래프의 제목은 `변수별 결측치 비율`로 설정하세요.

```python
#여기 코드를 입력하세요.
missing_rate = titanic_1.isnull().sum() / len(titanic_1) * 100
missing_rate.plot.bar()
plt.ylabel('결측치 비율 (%)')
plt.title('변수별 결측치 비율')
plt.show()
```

실행 결과:
<img src="https://github.com/metamath1/aicebook/blob/main/imgs/ch02/2.3.6-01.png?raw=true">

동일한 그래프를 seaborn으로도 그릴 수 있습니다. `missing_rate`는 시리즈이므로 `x`, `y` 매개변수를 지정할 필요가 없습니다.

```python
missing_rate = titanic_1.isnull().sum() / len(titanic_1) * 100
sns.barplot(data=missing_rate)
plt.show()
```

#### 문제 10
많은 결측치가 포함된 객실(cabin) 열은 데이터 분석에 도움이 되지 않을 것으로 판단됩니다. 해당 열을 삭제하세요. 삭제한 결과를 `titanic_2`에 대입하세요.

```python
#여기 코드를 입력하세요.
titanic_2 = titanic_1.drop('cabin', axis=1)
print(titanic_2.head())
```

실행 결과:
```
   pclass  survived     sex      age  sibsp  parch      fare embarked
0       1         1  female  29.0000      0      0  211.3375        S
1       1         1    male   0.9167      1      2  151.5500        S
2       1         0  female   2.0000      1      2  151.5500        S
3       1         0    male  30.0000      1      2  151.5500        S
4       1         0  female  25.0000      1      2  151.5500        S
```

#### 문제 11
`age` 변수의 이상치를 박스플롯으로 확인하세요. seaborn 패치지를 사용하고 그래프의 제목을 `Age 변수의 박스플롯`으로 설정하세요.

```python
#여기 코드를 입력하세요.
sns.boxplot(data=titanic_2, y='age')
plt.title('Age 변수의 박스플롯')
plt.show()
```

실행 결과:
<img src="https://github.com/metamath1/aicebook/blob/main/imgs/ch02/2.3.6-02.png?raw=true">

이번에는 반대로 pandas로도 동일한 그림을 그릴 수 있습니다.

```python
titanic_2['age'].plot.box()
plt.show()
```

#### 문제 12
박스플롯을 보면 80세 근처에 이상치가 존재하는 것을 확인할 수 있습니다. 이상치가 있을 때는 평균보다 중앙값으로 결측치를 채우는 것이 더 안정적입니다. 이상치가 확인되므로 `age` 변수의 결측치는 성별로 구분하여 중앙값으로 채우세요.

```python
#여기 코드를 입력하세요.
# 남성의 나이 중앙값 계산 및 결측치 채우기
med_age_male = titanic_2[titanic_2['sex'] == 'male']['age'].median()
titanic_2.loc[(titanic_2['sex'] == 'male') & titanic_2['age'].isnull(), 'age'] = med_age_male

# 여성의 나이 중앙값 계산 및 결측치 채우기
med_age_female = titanic_2[titanic_2['sex'] == 'female']['age'].median()
titanic_2.loc[(titanic_2['sex'] == 'female') & titanic_2['age'].isnull(), 'age'] = med_age_female

print(titanic_2.isnull().sum())
```

실행 결과:
```
pclass      0
survived    0
sex         0
age         0
sibsp       0
parch       0
fare        1
embarked    2
dtype: int64
```

우선 중앙값을 구해 `titanic_2['sex'] == 'male'` 조건으로 필터링해서 구해둡니다. 다음 `loc[]`을 사용합니다. 행에 남자면서 `age`가 결측치인 행을 `(titanic_2['sex'] == 'male') & titanic_2['age'].isnull()`로 지정하고 컬럼을 `age`로 두고 계산한 중앙값을 대입합니다.

시험에 나올 수 있는 사용법이니 꼭 기억해두시길 바랍니다.

#### 문제 13
`fare`, `embarked`에 결측치를 가진 데이터는 삭제합니다.

```python
#여기 코드를 입력하세요.
titanic_2 = titanic_2[(~titanic_2['fare'].isnull()) & (~titanic_2['embarked'].isnull())].copy()
print(titanic_2.isnull().sum())
```

실행 결과:
```
pclass      0
survived    0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
dtype: int64
```

> **참고:** pandas에서 데이터프레임을 조작하다 보면 SettingWithCopyWarning이라는 경고가 발생하는 경우가 있습니다. 이 경고가 시험에서 큰 문제를 만들 가능성은 없지만 경고를 확실히 없애기 위해 `.copy()`를 사용하여 명확하게 복사본을 만들었습니다. 이렇게 하면 이후 작업에서 SettingWithCopyWarning이 발생하지 않습니다.

#### 문제 14
형제자매, 배우자, 부모자식 수를 하나로 합쳐서 함께 승선한 가족의 수를 값으로 갖는 `family` 특성(열)을 생성하여 데이터셋에 추가하세요.

```python
#여기 코드를 입력하세요.
titanic_2['family'] = titanic_2['parch'] + titanic_2['sibsp']
print(titanic_2.head())
```

실행 결과:
```
   pclass  survived     sex      age  sibsp  parch      fare embarked  family
0       1         1  female  29.0000      0      0  211.3375        S       0
1       1         1    male   0.9167      1      2  151.5500        S       3
2       1         0  female   2.0000      1      2  151.5500        S       3
3       1         0    male  30.0000      1      2  151.5500        S       3
4       1         0  female  25.0000      1      2  151.5500        S       3
```

기존 열을 이용해서 파생 변수를 만드는 문제입니다.

#### 문제 15
이제 `parch`, `sibsp` 두 특성은 필요하지 않기에 데이터셋에서 삭제하고 결과를 `titanic_3`에 대입하세요.

```python
#여기 코드를 입력하세요.
titanic_3 = titanic_2.drop(['parch', 'sibsp'], axis=1)
print(titanic_3.head())
```

실행 결과:
```
   pclass  survived     sex      age      fare embarked  family
0       1         1  female  29.0000  211.3375        S       0
1       1         1    male   0.9167  151.5500        S       3
2       1         0  female   2.0000  151.5500        S       3
3       1         0    male  30.0000  151.5500        S       3
4       1         0  female  25.0000  151.5500        S       3
```

#### 문제 16
`family` 특성을 이용하여 1인 가족 여부를 확인하는 특성 `is_alone`을 추가하세요. 혼자인 경우 1, 그렇지 않은 경우 0의 값을 가지게 변수를 추가하세요.

```python
#여기 코드를 입력하세요.
titanic_3['is_alone'] = 0
titanic_3.loc[(titanic_3['family'] == 0), 'is_alone'] = 1
print(titanic_3.head())
```

실행 결과:
```
   pclass  survived     sex      age      fare embarked  family  is_alone
0       1         1  female  29.0000  211.3375        S       0         1
1       1         1    male   0.9167  151.5500        S       3         0
2       1         0  female   2.0000  151.5500        S       3         0
3       1         0    male  30.0000  151.5500        S       3         0
4       1         0  female  25.0000  151.5500        S       3         0
```

이 문제에서도 조건을 이용하여 특정 위치를 지정하고 값을 대입하는 방법을 사용합니다. 계속 반복되는 패턴이니 확실히 익혀두세요.

#### 문제 17
숫자형 변수명을 `num_vars`, 범주형 변수명을 `cat_vars`에 대입하세요.

```python
#여기 코드를 입력하세요.
num_vars = titanic_3.select_dtypes(include="number").columns
cat_vars = titanic_3.select_dtypes(include="object").columns

print("숫자형 변수:", num_vars.tolist())
print("범주형 변수:", cat_vars.tolist())
```

실행 결과:
```
숫자형 변수: ['pclass', 'survived', 'age', 'fare', 'family', 'is_alone']
범주형 변수: ['sex', 'embarked']
```

`select_dtypes()`를 사용합니다. 마지막 `tolist()`는 컬럼 이름들을 파이썬 리스트로 바꾸기 위한 함수입니다. 시험과는 직접적인 연관이 없는 부분으로 신경쓰지 않아도 됩니다.

#### 문제 18
`age`, `fare` 변수를 Min-Max scaling 하세요.

```python
#여기 코드를 입력하세요.
# age 변수 Min-Max scaling
age_min = titanic_3['age'].min()
age_max = titanic_3['age'].max()
titanic_3['age'] = (titanic_3['age'] - age_min) / (age_max - age_min)

# fare 변수 Min-Max scaling
fare_min = titanic_3['fare'].min()
fare_max = titanic_3['fare'].max()
titanic_3['fare'] = (titanic_3['fare'] - fare_min) / (fare_max - fare_min)

print(titanic_3.head())
```

실행 결과:
```
   pclass  survived     sex       age      fare embarked  family  is_alone
0       1         1  female  0.361169  0.412503        S       0         1
1       1         1    male  0.009395  0.295806        S       3         0
2       1         0  female  0.022964  0.295806        S       3         0
3       1         0    male  0.373695  0.295806        S       3         0
4       1         0  female  0.311064  0.295806        S       3         0
```

2.3.4에서 배운것처럼 컬럼 단위로 직접 스케일링을 계산했습니다. 다시 언급하지만 스케일링은 scikit-learn 라이브러리를 사용하는것이 보통입니다. 하지만 데이터프레임 컬럼을 직접 다루는 연습을 스케일링을 통해 해보는 것도 나쁘지 않습니다.

#### 문제 19
`sex`, `embarked` 변수를 원핫 인코딩하세요. 인코딩 결과를 `titanic_preprocessed`에 저장하세요.

```python
#여기 코드를 입력하세요.
titanic_preprocessed = pd.get_dummies(titanic_3, columns=['sex', 'embarked'], dtype=int)
print(titanic_preprocessed.head())
```

실행 결과:
```
   pclass  survived       age      fare  family  is_alone  sex_female  \
0       1         1  0.361169  0.412503       0         1           1   
1       1         1  0.009395  0.295806       3         0           0   
2       1         0  0.022964  0.295806       3         0           1   
3       1         0  0.373695  0.295806       3         0           0   
4       1         0  0.311064  0.295806       3         0           1   

   sex_male  embarked_C  embarked_Q  embarked_S  
0         0           0           0           1  
1         1           0           0           1  
2         0           0           0           1  
3         1           0           0           1  
4         0           0           0           1  
```

`get_dummies()`의 사용법을 다시 확인하세요. 지정된 컬럼은 사라지고 인코딩된 컬럼이 데이터프레임 마지막에 추가된 모습을 확인할 수 있습니다.